## Maven config
target/
maven.config
mvnvm.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
interpolated-pom.xml
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/.cache/

## JetBrains IDEA project files
.idea/
*.iml
*.ipr
*.iws

## Eclipse
.settings/

## Netbeans
build/
nbbuild/
dist/
nbdist/

## Log file
*.log

## General
.DS_Store
Thumbs.db
.java-version
mvnvm.properties
